/*!
Theme Name: Psychedelicprostore
Theme URI: http://devshuvo.com
Bitbucket Theme URI: https://bitbucket.org/devshuvo/psychedelicprostore
Author: Shuvo
Author URI: https://devshuvo.com
Description: Custom Theme for Psychedelicprostore
Version: 1.0.07
License: GNU General Public License v2 or later
License URI: LICENSE
Text Domain: psychedelicprostore
Tags: custom-background, custom-logo, custom-menu, featured-images, threaded-comments, translation-ready

*/
img{
    max-width: 100%;
    height: auto;
}
body.admin-bar .navbar-fixed-top {
    top: inherit;
}

a.dropdown-toggle:after{
    content: "";
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 2px;
    vertical-align: middle;
    border-top: 4px solid;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
}
.woocommerce-thankyou-order-received {
    text-align: center;
    padding: 50px 15px;
    font-size: 28px;
    color: green;
}

.woocommerce ul.products li.product, .woocommerce-page ul.products li.product {
    text-align: center;
    margin: 0 2.55% 2.992em 0;
    width: 23.085%;
}

.woocommerce ul.products li.last, .woocommerce-page ul.products li.last {
    margin-right: 0 !important;
}

.woocommerce #respond input#submit, .woocommerce a.button, .woocommerce button.button, .woocommerce input.button{
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.428571429;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c;
}

.woocommerce #respond input#submit:hover,.woocommerce a.button:hover,.woocommerce button.button:hover,.woocommerce input.button:hover{
    color:#fff;
    background-color:#47a447;
    border-color:#398439
}

.woocommerce a.added_to_cart {
    vertical-align: text-top;
}

.woocommerce ul.products li.product .woocommerce-loop-category__title, .woocommerce ul.products li.product .woocommerce-loop-product__title, .woocommerce ul.products li.product h3,
.woocommerce ul.products li.product .price {
    display: block;
    color: #333;
    font-weight: 700;
    line-height: 1.428571429;
    padding: 8px;
    vertical-align: top;
    border-top: 1px solid #ddd;
    font-size: 14px !important;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0 9px;
}
.woocommerce ul.products li.product .button{
    margin: 0;
}

.woocommerce ul.products li.product .button{
    border-top: 1px solid #ddd;
    margin: 8px 9px;
}

.woocommerce ul.products li.product .woocommerce-loop-category__title.maybe-last{
    border-bottom: 1px solid #ddd;
    color: rgb(255, 0, 0);
}
.woocommerce ul.products li.product .price {
    color: rgb(255, 0, 0);
}
.woocommerce ul.products li.product .unit-per {
    color: #333;
    font-weight:normal;
}

.woocommerce ul.products li.product img{
    padding: 4px;
    margin-top: 10px;
}
.woocommerce ul.products li.product .woocommerce-loop-product__title {
    margin-top: 9px;
}
.woocommerce-loop-product__link div:last-child {
    border-bottom: 1px solid #ddd;
}
span.ext_name{
    color: rgb(255, 0, 0);
}
.footer-menu li {
    display: inline-block;
}
.footer-menu li span{
   color:#808080;
}

.footer-menu li:last-child span{
    display:none;
}

/****************
 * Responsive
 ******************/

 @media(max-width: 767px){
    .woocommerce ul.products[class*=columns-] li.product, .woocommerce-page ul.products[class*=columns-] li.product {
        float: none !important;
        width: 100% !important;
        max-width: 90%;
        margin: 0 auto 30px !important;
    }
 }