﻿/*=============================================================
    Authour URI: www.binarytheme.com
    License: Commons Attribution 3.0

    http://creativecommons.org/licenses/by/3.0/

    100% To use For Personal And Commercial Use.
    IN EXCHANGE JUST GIVE US CREDITS AND TELL YOUR FRIENDS ABOUT US
   
    ========================================================  */

/* =============================================================
   GENERAL STYLES
 ============================================================ */
body {
    font-family: 'Open Sans', sans-serif;
   
}
.pad-top {
    padding-top:60px;
}
.text-center {
    text-align:center;
}
i.fa {
    padding:5px;
}
section {
    padding-top:50px;
}

p {
    font-weight:300;
}
.pad-row {
    padding-top:40px;
    padding-bottom:40px;
}
.pad-bottom {
    padding-bottom:50px;
}

/* NAVBAR STYLE */


.navbar-inverse .navbar-nav 
color: #FFF;
}

.navbar-inverse .navbar-brand {
color: #FFF;
}


/* ADDED PADDING IN NAVBAR */


.navbar {
     -webkit-transition: background .8s ease-out,padding .8s ease-out;
        -moz-transition: background .8s ease-out,padding .8s ease-out;
        transition: background .8s ease-out,padding .8s ease-out;
}


/* CLASS FOR REMOVING PADDING IN NAVBAR*/


.navbar-pad-original {
      padding:0px;
}



/* CARUOSEL STYLE OR SLIDESHOW STYLE*/


.back-light {
    background-color:rgba(0, 0, 0, 0.50);
    padding:10px;
}
/*NOTE SECION STYLE*/
.note-sec {
     padding-bottom:50px;
    background: url(../img/9.jpg) no-repeat 50% 50%;
background-attachment: fixed;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
width: 100%;
display: block;
height: auto;
   min-height:300px;
    color:#fff;
}

/*HEADINGS IMAGE STYLE*/


.head-main-img {
     padding-bottom:50px;
    background: url(../img/9.jpg) no-repeat 50% 50%;
background-attachment: fixed;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
width: auto;
display: block;
height: auto;
   min-height:300px;
    color:#000000;
}
    .head-main-img h1, .head-main-img h2 {
        padding: 50px 2px 2px 10px;
        text-transform:uppercase;
    }


 /* PRICING STYLE */


 .plan {
padding: 0 0 15px 0;
margin: 30px 0px;
list-style: none;
text-align: center;
}

.plan li {
padding: 15px 0px;
font-size: 16px;
border-bottom: 1px dotted #e1e1e1;
}

.price {
    font-size:45px!important;
}

small {
    font-size:15px;
    padding-left:10px;
}

    .plan li i {
        padding-right:10px;
    }
.price-two {
    font-size:30px!important;
    padding: 15px 0px;
background-color: rgba(162, 188, 253, 1);
color: #fff;
border: none;
font-weight: 900;
}

.adjust-border-radius {
    -webkit-border-radius: 0px;
-moz-border-radius: 0px;
border-radius: 0px;
}

.adjust-border {
    border-top-left-radius: 0px;
 border-top-right-radius: 0px;
}


/*    PORTFOLIO STYLES*/

.portfolio-items {
  list-style: none;
  padding: 0;
  margin: 0;
}
.portfolio-items {
  margin-right: -20px;
}
.portfolio-items > li {
  float: left;
  padding: 0;
  margin: 0;
}

.portfolio-items.col-3 > li {
  width: 33%;
}

.portfolio-item .item-main {
  margin: 0 10px 10px 0;
  text-align: center;
  background: #fff;
  padding: 10px;
  border:1px solid #E8EAEE;
  
}
.portfolio-item img {
  width: 100%;
}
.portfolio-item .portfolio-image {
  position: relative;
}
.portfolio-item h5 {
  margin: 0;
padding: 30px 0 30px 0;
background-color: #000;
color: #fff;
font-size: 20px;
}
.portfolio-item .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  background-color: rgba(177, 166, 255, 1);
  text-align: center;
  vertical-align: middle;
  -webkit-transition: opacity 300ms;
  -moz-transition: opacity 300ms;
  -o-transition: opacity 300ms;
  transition: opacity 300ms;
}
.portfolio-item .overlay .preview {
  position: relative;
  top: 50%;
  display: inline-block;
  margin-top: -20px;
}
.portfolio-item:hover .overlay {
  opacity: 1;
}

/*CONTACT STYLES*/


.cnt {
width: 100%;
min-height: 350px;
border: 1px solid #e1e1e1;
}
.add {
    font-size:20px;
    font-weight:800;
    padding:30px;
}
#contact-sec {
  padding-top:0px;
}


/* FOOTER STYLE*/


#footer-sec {
    background-color:#000;
    color:#808080;
}
    #footer-sec h4 {
        text-transform:uppercase;
        color:#fff;
    }

/*------------------------------------Log Aftab Mondal ** Brandnetizen ** date: 09.05.2017----------------------------*/  
.sidebar, .left-col{
    border: 2px solid #008000;
    box-shadow: 2px 5px 19px #000;
    padding: 10px;
}
.sidebar h4{
    background: #008000;
    text-align: center;
    color: #fff;
    padding: 10px 0;
    margin-bottom: 10px;
}
.sidebar img{
    border: 1px solid #000;
    margin-bottom: 10px;
}
.payment-box{
    border: 1px solid #008000;
    margin: 10px 0;
}
.payment-box h4{
    background: #008000;
    margin: 0;
    padding: 10px 0;
    text-align: center;
    color: #fff;
    font-weight: 700;
    margin-bottom: 10px;
}
.payment-box a{
    background: #008000;
    margin: 0;
    padding: 10px 0;
    text-align: center;
    color: #fff;
    font-weight: 700;
    display: block;
}
.payment-box a:hover{
	text-decoration:none
}
.payment-box img{
	padding: 10px;
}
img[src="assets/img/divider.png"]{
    display: block;
    margin: 0 auto;
    width: 100%;
}
.form-control{
    border: 1px solid #008000;
    border-radius: 0;
    margin: 10px 0;
    height: 40px;
    color: #000;
}
/* Rectangle Out */
.hvr-rectangle-out {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
    position: relative;
    background: #008000;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    color: #fff;
    border: 0;
    padding: 10px 25px;
}
.hvr-rectangle-out:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #000;
  -webkit-transform: scale(0);
  transform: scale(0);
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-rectangle-out:hover, .hvr-rectangle-out:focus, .hvr-rectangle-out:active {
  color: white;
}
.hvr-rectangle-out:hover:before, .hvr-rectangle-out:focus:before, .hvr-rectangle-out:active:before {
  -webkit-transform: scale(1);
  transform: scale(1);
}
.ic{
    border-radius: 50%;
    width: 33px;
    margin-right: 5px;
}
.nav-top{
    background: #008000;
    padding: 10px 0;
    color: #fff;
    font-size: 15px;
}
.nav-top a, .footer-bot a, #footer-sec p, #footer-sec a, #footer-sec li, .contact-page a{
	color:#fff;
}
.logo{
    width: 150px;
    position: relative;
    top: -10px;
}
.navbar-pad-original .nav-top{
	display:none;
}
.footer-bot{
    background: #008000;
    padding: 12px 0 0;
    color: #fff;
    font-size: 15px;
}
#footer-sec ul{
    list-style: none;
    margin-left: -40px;
}
#footer-sec h4, #footer-sec a:hover{
	color:#008000;
}
a:hover, a:active, a:focus{
	text-decoration: none;
}
.thumbnail{
    border: 1px solid #008000;
    box-shadow: 2px 5px 19px #008000;
    transition: all 0.5s ease-in-out;
}
.thumbnail:hover{
	box-shadow: 2px 5px 19px #008000;
    transition: all 0.5s ease-in-out;
}
.carousel-caption {
    background: rgb(0, 128, 0);
    padding: 74px;
    right: 15%;
    left: 50%;
    text-align: center;
    border-radius: 15px;
    box-shadow: 2px 5px 19px #000;
    bottom: 25%;
}
.home-about{
    background: url(../img/about-back.jpg) no-repeat fixed;
    padding: 50px 0;
    background-size: cover;
    color: #fff;
}
.abt{
    overflow: hidden;
}
.abt img:hover{
	transform: scale(1.5) rotate(20deg);
	transition: all 0.5s ease-in-out;
}
.abt img{
	transform: scale(1) rotate(0deg);
	transition: all 0.5s ease-in-out;
}
.foot-top-h2{	
    border: 2px solid #008000;
    padding: 10px;
    margin: 30px 0;
    border-radius: 15px;
    box-shadow: 2px 5px 19px #000;
}
.contact-page{
    background: url(../img/contact-back.jpg) no-repeat;
    background-size: cover;
    padding: 100px 0;
    color: #fff;
}
.panel-default > .panel-heading {
    color: #fff;
    background-color: #008000;
    border-color: #008000;
}
.nav li.active a, .nav li a:hover{
    background: #008000 !important;
}
.navbar-header h1{
	margin:0 !important;
}
.thumbnail h3{
    font-size: 18px;
}
